<% include ../partials/header %>

<h1>This is a page for all hardware</h1>

<%hardware.forEach(hardware => {%>
<div>
    <h1><%=hardware.name%></h1>
    <img src="<%=hardware.image%>">
    <p><%=hardware.content%></p>
</div>
<%})%>

<% include ../partials/footer %>