<!DOCTYPE html>
<html>
<head>
    <title>Book of recipes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h1>got a header here!</h1>
<a class="btn btn-primary" href="/">Main page</a>

