
<% include partials/header %>
<h1>About</h1>
<p>A little pet-project to practice some stuff. Made using</p>
<ul>
    <li><a href="">Bootstrap</a></li>
    <li><a href="#">NodeJS</a></li>
    <li><a href="#">Express</a></li>
    <li><a href="#">EJS</a> view engine</li>
    <li><a href="#">MongoDB</a> and mongoose</li>
    <li><a href="#">Body-Parser</a></li>
</ul>

<% include partials/footer %>