body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
}

a {
  color: #00B7FF;
}

.recipe-boundary{
  width: 68%;
  margin: auto;
}

.recipe-card{
  margin:1vw;
}

.show-one{
  margin-top: 2vh;
}

.form-boundary{
  width: 30%;
  margin: auto;
}

.edit-form-textarea{
  height:3vw;
}

.index-buttons{
  margin:0.5vw;
}