<% include ../partials/header %>

<h1>This is a page for all ingredients</h1>

<%ingredients.forEach(ingredient => {%>
    <div>
        <h1><%=ingredient.name%></h1>
        <img src="<%=ingredient.image%>">
        <p><%=ingredient.content%></p>
    </div>
<%})%>

<% include ../partials/footer %>